
header{

}
body{
width: 940px;
background: #000000;
font-family: 'Red Hat Mono', monospace;
margin: 0 auto;
}
.icono{
width: 8%;
position: relative;
left: 20px;
top: 40px;
}
header h1{
font-family: Red Hat Mono;
text-align: center;
font-size: 36px;
padding-bottom: 15px;
color: #ffffff;
}
textarea{
resize: none;
font-size: 24px;
width: 400px;
height: 400px;
border-width: 8px;
border-color: #04f100;
background: #000000;
color: #ffffff;
margin: 20px;
}
button{
border-width: 5px;
border-color: #04f100;
background: #000000;
color: #ffffff;
font-family: "Red Hat Mono";
width: 400px;
font-size: 36px;
position: relative;
margin: 15px 32px;
}
